

{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if app.user and object.useridentifier != app.user.useridentifier and marlinc_user.isImpersonatingEnabled %}
        <a href="{{ url(marlinc_user.impersonatingRoute, marlinc_user.impersonatingRouteParameters|merge({'_switch_user': object.useridentifier})) }}" title="{{ 'switch_user'|trans({}, 'MarlincUserBundle')}}">
            <i class="fas fa-user"></i>
            <i class="fas fa-sign-in-alt"></i>
        </a>
    {% else %}
        -
    {% endif %}
{% endblock %}
